* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html {
  overflow-y:hidden;
}
body {
    background-color: #e8e6e7;
}
/*===== HEADER ========*/

header {
    position: fixed;
    width: 100vw;
}
#icon_menu, #icon_close {
    display: none;
    cursor: pointer;
}

#icon_menu i, #icon-close i {
    font-size: 25px;
}
#mobile_links {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-out;
}
nav {
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1f;
}
nav img {
    height: 30px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 3.75rem;
  
  
}
nav ul li {
    position: relative;
}
nav ul li a{
    font-weight: 500;
    font-size: .85rem;
    color: #bebebe;
    transition: .2s;
}
nav ul li a:hover {
  color: white;
  transition: .2s;
}

nav ul li::after {
    content: "";
    width: 0%;
    height: 0px;
    background-color: #bebebe;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 19px;  
    transition: .2s;
}

nav ul li:hover::after {
    width: 100%;
    height: 1px;
    transition: .2s;
}

/*======== MAIN ==========*/

main {
    padding: 8rem 5rem; 
}
#all-main {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#all-main section {
    flex-shrink: 1;
}

#img-title img {
    height: 30px;
}
#phrase-title {
    margin: 2rem 0;
    font-size: 1.8rem;
}
#main {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
#main p {
    font-size: 14px;
}
#button {
    background-color: #0271e5;
    width: fit-content;
    padding: .6rem 1.5rem;
    border-radius: 2rem;
    transition: .2s;
    cursor: pointer;
}
#button:hover {
    background-color: #428edf;
    transition: .2s;

}
#button a {
    color: white;
    font-weight: bold;
}

/* ===== main img ===== */

#main-img div {
    display: none;
}

#main-img div.show img {
  max-width: 70%;
}
#main-img div.show {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

#colors {
    display: flex;
    gap: .9rem;
}
#colors div  {
    height: 26px;
    width: 26px;
    border-radius: 100%;
    box-shadow: 1px 2px 2px rgb(189, 187, 187);
    cursor: pointer;
}

#green{
    background: #384937;
}
#pink{
    background: #f8ddd6;
}
#blue{
    background: #225f7e;
}
#black{
    background: #192028;
}
#white{
    background: #f7f2ee;
}
#red{
    background: #ae0617;
}

span {
    color: rgb(78, 78, 78);
}


/* ============== MOBILE =========== */

@media (max-width: 800px) {
  html {
    overflow-y: scroll;
  }
  
  
  nav {
    padding: 1rem 1.5rem;
  }
  #icon_menu.show {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9a9a9a;
    transition: 1s;
  }
  #icon_close.show {
    display: block;
    color: #9a9a9a;
    font-size: 25px;
    transition: 1s;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    display: none;
  }
  
  #main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  #main {
    display: flex;
    align-items: center;

  }
  #all-main {
    flex-wrap: wrap;
  }
  
  #mobile_links.show {
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-align: center; 
    opacity: 1;
    transform: translate(0px, 10px);
    transition: transform .3s ease-out; 
      
}
#mobile_links.show ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;

  }
  #mobile_links.show ul li a {
    color: black;
    font-weight: bold;
  }
  #all-main.hide {
    display: none; 
  }

}